/* Font */
html {
  font-family: "Calibri", sans-serif;
  color: #595959;
}

/* Custom specific fonts */
.rockwell-font h1, h2, h3, h4 {
  font-family: "Rockwell", sans-serif;
  color: black;
}

/* Skills styling */
.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills li {
  list-style-type: none;
}

/* Biodata styling */
.biodata ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
}

.biodata li {
  text-align: right;
}

.profile-pic {
  max-width: 100%;
  height: auto;
}

/* Experience styling */
.exp ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.exp-headings {
  color: #007FAB;
}

.exp-desc {
  color: #595959;
}

.exp-level ul {
  list-style: none;
}
