body {
  font-family: 'Noto Sans', sans-serif;
  color: #728ca3;
  margin: 0 auto;
  background-color: white;
  max-width: 768px;
}

.fade-in {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.header-container {
  display: flex;
  justify-content: center;
}

.header {
  padding-top: 20px;
  padding-right: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 768px;
}

@media screen and (max-width: 575.98px) {
  .header {
    padding-top: 0;
    padding-left: 5%;
    margin: 5% 0;
  }
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media screen and (max-width: 575.98px) {
  .navbar {
    justify-content: center;
  }
}

.navbar a {
  text-decoration: none;
  padding: 10px;
  color: #8f4f06;
}

@media screen and (max-width: 575.98px) {
  .navbar a {
    width: calc(100% / 3);
  }
}

.nav-active {
  border-bottom: 2px solid #8f4f06;
}

@media screen and (max-width: 575.98px) {
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    max-width: 90%;
    padding: 0 5%;
  }

  .nav-links a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nav-active {
    background-color: #8f4f06;
    color: white !important;
  }
}

.profile-photo {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.profile-photo img {
  width: 250px;
  height: 250px;
  border: 3px solid rgba(143, 79, 6, .8);
  border-radius: 100%;
  padding: 5px;
  -webkit-user-drag: none;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 768px;
  margin: 0 auto;
} 

.biodata {
  width: 90%;
}

@media screen and (max-width: 575.98px) {
  .biodata {
    font-size: 14px;
  }

  .biodata strong {
    font-size: 20px;
  }
}

.biodata > div {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.biodata > div:first-child {
  margin-top: 5%;
}

@media screen and (max-width: 767.98px) {
  .biodata > div {
    flex-direction: column;
  }
}

.circle-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #73c0f4;
  font-size: 72px;
  padding: 10px;
  width: 20%;
}

.circle-link-nav {
  width: auto;
  padding: 0 20px;
}

.biodata-desc {
  width: 80%;
}

@media screen and (max-width: 767.98px) {
  .biodata-desc {
    text-align: center;
  }
}

.separator {
  border-top: 10px dotted #8f4f06;
  width: 100px;
  margin: 0 auto;
}

.stack-tech {
  justify-content: center;
}

.stack-tech a {
  color: #728ca3;
  text-decoration: none;
}

.stack-tech a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767.98px) {
  .stack-tech {
    text-align: center;
  }

  .stack-section {
    flex-direction: column-reverse !important; 
  }
}

.circle-link-small {
  font-size: 16px;
  width: 10%;
  color: #8f4f06;
  padding-left: 10px;
}

.summary {
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 575.98px) {
  .summary {
    font-size: 14px;
  }
}

.summary a {
  text-decoration: none;
  color: #8f4f06;
}

.send-email {
  padding: 2.5px 10px;
  background-color: #f3e4c6;
  display: flex;
  align-items: center;
}

footer {
  margin-top: 5%;
  padding: 20px 0;
}

footer > p {
  text-align: center;
  color: #8f4f06;
}

@media screen and (max-width: 575.98px) {
  footer > p {
    font-size: 14px;
  }
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
  height: 100%;
  text-decoration: none;
}

.circle-link-footer {
  background-color: #8f4f06;
  color: #e6eff3;
  height: 100%;
  width: auto;
  border-radius: 100%;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
}

.portfolio-section {
  margin-bottom: 5%;
}

.portfolio-container {
  margin: 0 5% 5% 5%;
}

.portfolio-wrapper {
  text-align: left;
  max-width: 768px;
  margin: 0 auto;
  box-shadow: rgba(19, 15, 235, 0.1) 1px 2px 20px;
  display: flex;
}

.portfolio-image {
  width: 40%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-image img {
  filter: drop-shadow(0 0.25em 2em rgba(0, 0, 0, 0.25));
  max-width: 100%;
  max-height: 100%;
}

.portfolio-content {
  padding: 20px;
  width: 60%;
}

@media screen and (max-width: 575.98px) {
  .portfolio-wrapper {
    display: block;
  }

  .portfolio-image {
    width: 100%;
    padding: 15% 0;
  }

  .portfolio-image img {
    max-width: 80%;
  }

  .portfolio-content {
    font-size: 14px;
    width: auto;
  }

  .portfolio-content strong {
    font-size: 20px;
  }
}
